@model IEnumerable<ExSheet.Models.ClientpMaster>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}";


<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.plant_no)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.plant_no)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ClientPId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ClientPId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ClientPId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
